<div class="banner">
	<div class="left">
		<h2><%= @cocktail.name %></h2>
			<% @cocktail.doses.each do |dose| %>
			<ul style="list-style: none">
			  <li>
			    <p><%= dose.ingredient.name %></p>
			    <p><%= dose.description %></p>
			    <%= link_to "Delete", dose_path(dose), method: :delete %>
			  </li>
			</ul>
			<% end %>
	</div>
	<div class="right">
		<%= link_to "Add A Ingredient", new_cocktail_dose_path(@cocktail.id) %>
		<div class="cocktail-photo" style="border-radius: 50%;">
			<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
		</div>
	</div>
			   
</div>









	

