<div class="banner">
	<div class="left">
		<h2><%= @cocktail.name %></h2>
			<% @cocktail.doses.each do |dose| %>
			<ul style="list-style: none">
			  <li>
			    <p><%= dose.ingredient.name %></p>
			    <p><%= dose.description %></p>
			    <%= link_to "Delete", dose_path(dose), method: :delete %>
			  </li>
			</ul>
			<% end %>
	</div>
	<div class="right">
		<%= link_to "Add A Ingredient", new_cocktail_dose_path(@cocktail.id) %>
	</div>
</div>









	

